<a href="https://colab.research.google.com/github/jayslabios/OOP-58002/blob/main/OOP_concepts_in_python_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creat a Class

In [1]:
class Car:
  pass

In [2]:
class Car:
  def __init__(self,brand,mileage):
    self.brand = brand                          #attribute names for class of Car
    self.mileage = mileage

  def description(self):
    return self.brand, self.mileage

  def display(self):
    print("The brand", self.brand , "has a mileage of", self.mileage)

car1 = Car("Honda City", 24.1)
print(car1.display())

The brand Honda City has a mileage of 24.1
None

Modify Object Property

In [3]:
car1.brand = "Toyota"
print(car1.brand)

Toyota

In [4]:
print(car1.display())

The brand Toyota has a mileage of 24.1
None

Delete an Object Property

In [5]:
del car1.mileage
print(car1.mileage)

AttributeError: ignored

In [6]:
print(car1.description())

AttributeError: ignored

In [7]:
#print(car1.mileage)
print(car1.brand)

Toyota

Application 1 -Write a Python program that computes for the Area and Perimeter of a Rectangle. Name Rectangle as class name and length and with as attribute names

In [8]:
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  
  def Area(self):
    return self.length*self.width

  def Perimeter(self):
    return 2*(self.length+self.width)
  
  def display(self):
    print("Area of the Rectangle:", self.Area())
    print("Perimeter of the Rectangle:", self.Perimeter())

rec1 = Rectangle(5,7)
print(rec1.display())

Area of the Rectangle: 35
Perimeter of the Rectangle: 24
None

Application 2 - Write a Python program that displays your fullname (Surname, First Name), and name your class as OOP 58002

In [9]:
class OOP_58002:
  def __init__(self, surname, firstname):
    self.surname = surname
    self.firstname = firstname

  def description(self):
    return self.surname, self.firstname
  
  def display(self):
    print("Name:", self.surname,",",self.firstname)
    
name1 = OOP_58002("Labios", "Jonn Cyrus")
print(name1.display())

Name: Labios , Jonn Cyrus
None